<!doctype html>
<html lang="sp" xmlns:th="http://www.thymeleaf.org">
  	<head>
  		
  		<meta name="author" content="Gonzalez Brian leonel">
  		
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Bootstrap CSS -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		    
		<!-- FontAwesome -->
		<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
		
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
		
		<title>Mis Preguntas</title>
	</head>
	<body>
		
		<!-- NavBar -->
		<div th:insert="layout/header :: header-signup" class="sticky-top"></div>
		
		<div class="container-fluid d-flex justify-content-center my-5">
		
			<div class="card" style="width: 70vw;">
			  	<div class="card-body container" style="min-height: 23em">
					  	
					  <!-- EDITAR PREGUNTA -->
					  		<div class="row">
					  			<div class="col-sm-10 container mx-auto my-4">
					  				<div class="row">
					  					<h3 class="h3 text-center mx-auto my-2">EDITAR PREGUNTA</h3>
					  					<p class="col-sm-10 text-center mx-auto my-2 text-black-50">
					  						Aquí puede registrar editar su pregunta. <br>
					  						Asegurese de formular bien su pregunta.
					  					</p>
					  				</div>
					  			</div>
							  	<form class="col-sm-10 container m-auto" th:object="${preguntaForm}" th:action="@{/guardarPreguntaEditada}" method="post">
							  		<div class="row">
							  			<div class="col-sm-12 form-group">
									  		<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="pregunta">PREGUNTA:</label>
									    			<!-- <input type="text" class="col-sm-12 col-lg-9 form-control" id="pregunta" placeholder="Ingresá tu pregunta..." th:field="*{pregunta}" required> -->
							  						<textarea rows="2" class="col-sm-12 col-lg-9 form-control" id="pregunta" placeholder="Ingresá tu pregunta..." th:field="*{pregunta}"></textarea>
							  					</div>
							  				</div>
									  	</div>
									  	<div class="col-sm-12 form-group">
									  		<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="rtaCorrecta">RESPUESTA CORRECTA:</label>
									    			<!-- <input type="text" class="col-sm-12 col-lg-9 form-control" id="apellido" placeholder="Ingresá tu apellido..." th:field="*{apellido}" required> -->
							  						<textarea rows="2" class="col-sm-12 col-lg-9 form-control" id="rtaCorrecta" placeholder="Ingresá la respuesta correcta..." th:field="*{correcta}"></textarea>
							  					</div>
							  				</div>
									  	</div>
									  	<div class="col-sm-12 form-group">
							  				<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="opcion1">OPCIÓN 1:</label>
									    			<!-- <input type="text" class="col-sm-12 col-lg-9 form-control" id="nombre" placeholder="Ingresá tu nombre..." th:field="*{nombre}" required> -->
							  						<textarea rows="2" class="col-sm-12 col-lg-9 form-control" id="opcion1" placeholder="Ingresá la opción 1..." th:field="*{opcion1}"></textarea>
							  					</div>
							  				</div>
									  	</div>
									  	<div class="col-sm-12 form-group">
							  				<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="opcion2">OPCIÓN 2:</label>
									    			<!-- <input type="text" class="col-sm-12 col-lg-9 form-control" id="nombre" placeholder="Ingresá tu nombre..." th:field="*{nombre}" required> -->
							  						<textarea rows="2" class="col-sm-12 col-lg-9 form-control" id="opcion2" placeholder="Ingresá la opción 2..." th:field="*{opcion2}"></textarea>
							  					</div>
							  				</div>
									  	</div>
									  	<div class="col-sm-12 form-group">
							  				<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="opcion3">OPCIÓN 3:</label>
									    			<!-- <input type="text" class="col-sm-12 col-lg-9 form-control" id="nombre" placeholder="Ingresá tu nombre..." th:field="*{nombre}" required> -->
							  						<textarea rows="2" class="col-sm-12 col-lg-9 form-control" id="opcion3" placeholder="Ingresá la opción 3..." th:field="*{opcion3}"></textarea>
							  					</div>
							  				</div>
									  	</div>
									  	<div class="col-sm-12 form-group">
							  				<div class="container">
							  					<div class="row">
							  						<label class="col-sm-12 col-lg-3 text-center" for="categoria">SELECCIONE CATEGORIA:</label>
							  						<select class="custom-select col-sm-12" id="" th:field="*{categoria.nombre}" required>
													        <option selected disabled value="---------------------------" >---------------------------</option>
													        <option th:each="categoria : ${categorias}"
													        	th:text="${categoria.nombre}"
													        	th:value="${categoria.nombre}"
													        ></option>
												    </select>
							  					</div>
							  				</div>
									  	</div>
									  	
									  	<div th:if="${mensajeError}" class="col-sm-12 my-3">
									  		<div class="container">
									  			<div class="row">
									  				<div th:text="${mensajeError}" class="alert alert-danger col-sm-12 text-center" role="alert"></div>
									  			</div>
									  		</div>
							  			</div>
									  	
									  	
									  	<!-- BOTONES -->
									  	<div class="col-sm-12 form-group mt-3">
									  		<div class="container">
							  					<div class="row d-flex justify-content-center">
							  						<a type="button" class="col-sm-12 col-lg-3 btn btn-danger m-1" th:href="@{/cancelarEditPreg}">
							  							<i class="fas fa-times"></i> &nbsp; CANCELAR
							  						</a>
							  						<button type="button" class="col-sm-12 col-lg-3 btn btn-primary m-1" data-toggle="modal" data-target="#modalAgregar">
							  							<i class="fas fa-user-plus"></i> &nbsp; GUARDAR
							  						</button>
							  					</div>
							  				</div>
									  	</div>
									  	
									  	<!-- Modal Agregar -->
										<div class="modal fade" id="modalAgregar" tabindex="-1"	role="dialog" aria-labelledby="agregarModalTitulo"	aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<!-- <h5 class="modal-title" id="agregarModalTitulo">Confirmar Agregar</h5> -->
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<h6 class="text-center m-auto text-uppercase font-weight-normal h4 py-4">¿Desea agregar la nueva pregunta?</h6>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cerrar</button>
														<input type="submit" class="btn btn-primary" value="Save Changes"  th:value="${editMode}?'Guardar Usuario':'GUARDAR'">
													</div>
												</div>
											</div>
										</div>
							  		</div>
								</form>
								
								
					  		</div>	
			  	</div>
			</div>
  
		</div>
		
		<!-- Footer -->
		<div th:insert="layout/footer :: footer-principal"></div> 
		

	    <!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script th:src="@{/webjars/jquery/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
		<script th:src="@{/webjars/popper.js/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
	    <!--  
	    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->
  	</body>
</html>